.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cylinder-wrapper {
  perspective: 1200px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.cylinder {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: spin 20s linear infinite;
  transition: transform 0.5s;
}

.cylinder-face {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--i) * 90deg)) translateZ(500px) translate(-50%, -50%);
}

/* 4 cards = 360/4 = 90 deg apart */
.cylinder-face:nth-child(1) { --i: 0; }
.cylinder-face:nth-child(2) { --i: 1; }
.cylinder-face:nth-child(3) { --i: 2; }
.cylinder-face:nth-child(4) { --i: 3; }

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
